<div class="details-div">
    <table class="outer-table">
        <tr>
            <td class="record-td">
                <div class="record-div">
                    <p>מקליט</p>
                    <mat-icon style="color: red;">fiber_manual_record</mat-icon>
                    <mat-icon style="color: white;"> arrow_upward</mat-icon>

                </div>
            </td>
            <td class="name-number-td">
                <div class="name-number-div">
                    <b>שם הפגישה: ועדת קורונה</b>
                    <br>
                    <b>תיק מספר: 12345678</b>
                </div>
            </td>
        </tr>
    </table>
</div>